body {
	background-color: black;
	text-align: center;
}

button {
	margin: 2% 15%;
	background-color: black;
	color: #0099ff;
	padding: 5px;

}

/*DIGITAL CLOCK**************************************/
.digitalClock {
	position: relative;
	display: inline-block;
	color: #0099ff;
	width: auto;
	top: 70px;
	border: 15px solid #8c8c8c;
	border-radius: 5px;
	padding: 2% 5%;
	font-family: 'Orbitron', sans-serif;
	margin: 0 50px;

}

.digitalClock p {
	margin: 0;
	font-size: 20px;
}

.digitalClock > div {
	display: inline-block;
	font-weight: bold;
}

.digitalClock #periodDisplay {
	position: relative;
	bottom: 50px;
	font-size: 10px;
}

.digitalClock #hoursMinutesDisplay {
	font-size: 100px;
}

.digitalClock #secondsDisplay {
	font-size: 25px;
}

.hide {
	display: none;
}


/*ANALOG CLOCK*********************************************/
.analogClock {
	height: 400px;
	width: 400px;
	background-color: black;
	border-radius: 50%;
	position: relative;
	top: 50px;
	margin: 0 auto;
	border: 15px solid #8c8c8c;

}

.hourHand {
	width: 8px;
	height: 120px;
	background-color: #0099ff;
	position: absolute;
	top: 70px;
	left: 180px;
	transform-origin: 50% 100%;
	transition: transform .5s ease-in-out;
}

.minuteHand {
	width: 8px;
	height: 155px;
	background-color: #0099ff;
	position: absolute;
	top: 35px;
	left: 180px;
	transform-origin: 50% 100%;
	transition: transform .5s ease-in-out;
}

.secondHand {
	width: 4px;
	height: 155px;
	background-color: #0099ff;
	position: absolute;
	top: 35px;
	left: 180px;
	transform-origin: 50% 100%;
	transition: transform .5s ease-in-out;
}

.pin {
	width: 20px;
	height: 20px;
	background-color: #0099ff;
	margin: auto;
	position: absolute;
	top: 180px;
	left: 175px;
	border-radius: 50%;
}

/*ALARM***************************************************/
.alarm {
	position: relative;
	margin: 50px;
	top: 50px;
}

